[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
gunicorn = "*"
spotipy = "*"
pandas = "*"
numpy = "*"
requests = "*"
flask = "*"
flask-sqlalchemy = "*"
decouple = "*"
python-decouple = "*"
python-dotenv = "*"
scikit-learn = "*"
scipy = "*"
yellowbrick = "*"

[requires]
python_version = "*"
